*.css linguist-detectable=false
*.html linguist-detectable=false
*.ts linguist-detectable=false
*.tsx linguist-detectable=false
*.json linguist-detectable=false
*.md linguist-detectable=false
*.scss linguist-detectable=false
*.svg linguist-detectable=false
*.jsx linguist-language=JavaScript
*.js linguist-language=JavaScript
